# Entorno uv
.venv/

# macOS
.DS_Store
**/.DS_Store

pmULE
**/pmULE

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDEs
.vscode/
.idea/

